select {
  font-family: "poppins";
  height: 30px;
  width: 15%;
  margin: 0px 5px;
  border: 1px solid #767171;
  border-radius: 3px;
}

input {
  font-family: "Poppins", "Courier New", Courier, monospace;
  margin: 0px 5px;
  width: 15%;
  border: 1px solid #767171;
  border-radius: 3px;
}

form {
  margin: 4px 0px;
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
}

span {
  display: inline-block;
  width: 15%;
  border: 1px solid;
  text-align: center;
}

i {
  margin: 0px 15px;
}
