button {
  background-color: blueviolet;
  color: white;
  font-family: "poppins";
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
}

p {
  display: inline-block;
  width: 15%;
  text-align: center;
  margin: 2px 5px;
}
